@font-face {
    font-family: 'digital';
    src: url('./digital.ttf');
}

@font-face {
    font-family: 'welcome-text';
    src: url('./welcomef.ttf');
}

@font-face {
    font-family: 'home-font';
    src: url('./home_btn.ttf');
}

@font-face {
    font-family: 'custom';
    src: url('./custom.otf');
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes fadein {
    from {
        opacity: 0;
        font-size: 0;
    }
    to {
        opacity: 1;
        font-size: 1.3vw;
    }
}

@keyframes displayNav {
    from {
        opacity: 0;
        width: 0;
    }
    to {
        opacity: 1;
        width: 7vw;
    }
}

@keyframes wobble {
    0%, 100% {
        transform: rotate3d(1, 1, 0, 40deg)
    }
    25% {
        transform: rotate3d(-1, 1, 0, 40deg)
    }
    50% {
        transform: rotate3d(-1, -1, 0, 40deg)
    }
    75% {
        transform: rotate3d(1, -1, 0, 40deg)
    }
}

@keyframes displayWindow {
    from {
        min-height: 0;
        transform: scale(0, 0.9);
        top: -3vh;
        opacity: 0;
    }
    to {
        top: 8vh;
        transform: scale(1, 1);
        opacity: 1;
    }
}

::-webkit-scrollbar {
    width: .5vw;
    border-radius: .2vw;
    overflow: hidden;
}

::-webkit-scrollbar-track {
    background: rgba(87, 87, 104, 0.199);
    overflow: hidden;
}

::-webkit-scrollbar-thumb {
    background: #5C6365;
    border-radius: 2vw;
    overflow: hidden;
}

body {
    background-image: url("./../util/mainback.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    overflow: hidden;
}

*:focus, *:hover {
    outline: none;
    user-select: none;
}

.spinner {
    width: 10vw;
    height: 10vw;
    border: .6vw solid #f3f3f3;
    border-top: .6vw solid #f25a41;
    border-radius: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
    animation: spin 1s infinite linear;
}

.roundBtn:hover:after {
    position: absolute;
    right: .3vw;
    top: 3vh;
    display: inline-block;
    padding: .3vw;
    opacity: 1;
    font-size: 1.3vw;
    content: attr(id);
    background-image: radial-gradient(rgba(30, 50, 60, .35), rgba(10, 10, 10, .42));
    color: #fff;
    white-space: nowrap;
    z-index: 1;
    animation: fadein .5s;
    border-radius: .3vw;
}

.roundBtn {
    outline: none;
    position: absolute;
    top: 1.5vh;
    display: block;
    height: 2vh;
    width: 2vh;
    border-radius: 50%;
    border: 0px;
    user-select: none;
    background-color: #555;
}

#exit {
    right: 1.5vw
}

#minimize {
    right: 3.5vw
}

#reset {
    right: 5.5vw
}

.roundBtn:hover {
    cursor: pointer;
    height: 2.2vh;
    width: 2.2vh;
}

#exit:hover {
    background-color: rgb(221, 85, 53)
}

#minimize:hover {
    background-color: rgb(211, 170, 3)
}

#reset:hover {
    background-color: rgb(21, 115, 220)
}

.dropbtn {
    outline: none;
    position: absolute;
    left: 0;
    top: -1.4vh;
    background: transparent;
    font-family: home-font;
    width: 7vw;
    height: 6.3vh;
    font-weight: 550;
    color: rgb(38, 107, 153);
    font-size: 5.3vh;
    border: none;
    text-align: center;
    vertical-align: baseline;
    user-select: none;
    margin: 0;
    padding: 0;
    transition: letter-spacing 1s;
}

.dropdown {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown:hover .dropbtn {
    outline: none;
    cursor: pointer;
    user-select: none;
    color: rgb(112, 191, 218);
}

.dropbtn:hover {
    background: #34333f;
    letter-spacing: .5vw;
    text-shadow: .1px .1vw .5vw rgba(170, 222, 240, 0.4);
}

.dropbtn:focus {
    outline: none;
    cursor: pointer;
    user-select: none;
}

.dropdown-content {
    display: none;
    left: 0vw;
    top: 4.8vh;
    width: 17vw;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 3;
}

.dropdown-content a {
    user-select: none;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 1.3vw;
    font-family: custom;
    background-image: radial-gradient(rgba(90, 150, 170, 0.94), rgba(80, 80, 80, 1));
    display: block;
}

.dropdown-content a:hover {
    user-select: none;
    background-image: radial-gradient(rgba(80, 80, 80, 1), rgba(90, 150, 170, 0.94));
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
    display: block
}

#clock {
    position: absolute;
    left: 7.3vw;
    top: 0;
    font-size: 2.7vw;
    letter-spacing: .05em;
    font-weight: 500;
    color: rgb(38, 107, 153);
    font-stretch: expanded;
    width: 15vw;
    height: 5vh;
    cursor: default;
    font-family: digital;
    user-select: none;
}

#clock:hover {
    cursor: default;
    user-select: none;
}

.bodyDiv {
    position: absolute;
    top: 5vh;
    left: 0;
    width: 100%;
    height: 95vh;
    background-image: linear-gradient(rgba(20, 35, 43, 0.91), rgba(48, 39, 39, 0.91));
    border: none;
    overflow: hidden;
}

#content {
    overflow: hidden
}

* {
    user-select: none;
    box-sizing: border-box;
}

figure {
    user-select: none;
    text-align: center;
    cursor: default;
    animation: wobble 6s ease-in-out infinite;
    transform-origin: center center;
    transform-style: preserve-3d;
}

figure:hover {
    cursor: default
}

h1 {
    user-select: none;
    display: block;
    width: 100%;
    font-size: 15.5vw;
    text-shadow: 0 0 2vw rgb(33, 97, 200);
    font-family: welcome-text;
    position: absolute;
}

h1:hover {
    cursor: default
}

h1:nth-child(2) {
    transform: translateZ(6px)
}

h1:nth-child(3) {
    transform: translateZ(12px)
}

h1:nth-child(4) {
    transform: translateZ(18px)
}

h1:nth-child(5) {
    transform: translateZ(24px)
}

h1:nth-child(6) {
    transform: translateZ(30px)
}

#account-info-div-content #labels {
    user-select: none;
    position: absolute;
    left: 10vw;
    top: 10vh;
    height: 50vh;
    color: white;
    font-family: custom;
    font-size: 2.7vw;
    color: rgb(174, 177, 134);
}

#account-info-div-content #accData {
    user-select: none;
    position: absolute;
    left: 50vw;
    top: 10vh;
    height: 50vh;
    color: white;
    font-family: custom;
    font-size: 2.7vw;
}

#account-info-div-content #ui_icons_set {
    position: absolute;
    left: 10vw;
    width: 80%;
    top: 57vh;
    color: white;
    font-family: custom;
    font-size: 2.7vw;
}

#account-info-div-content #ui_icons_set .xBoxes {
    position: relative;
    float: left;
    width: 33%;
    height: 7vh;
}

#account-info-div-content #ui_icons_set .xBoxes input[type=checkbox] {
    width: 2vw;
    height: 2vw;
}

#account-info-div-content #ui_icons_set .xBoxes label {
    color: rgb(174, 177, 134);
    margin-left: 1vw;
}

#account-info-div-content {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

#account-info-div-content #labels:hover, #account-info-div-content #accData:hover {
    cursor: default;
}

#account-info-div-content .acc_bottom {
    position: absolute;
    left: 10%;
    top: 85vh;
    margin-bottom: 5vh;
    width: 80%;
}

#account-info-div-content div.picker {
    float: left;
    width: 55%;
}

#account-info-div-content .accountControlButtons {
    margin-left: 10%;
    margin-bottom: 2vh;
    outline: none;
    background-color: transparent;
    border: 2px solid black;
    font-family: custom;
    width: 15vw;
    height: 5vh;
    color: rgb(200, 200, 200);
    font-size: 2vw;
    text-align: center;
    vertical-align: baseline;
    user-select: none;
    border: none;
    border-bottom: 2px solid grey;
}

#account-info-div-content #toggleAccCfg {
    background-image: radial-gradient(rgba(30, 71, 90, 0.94), rgba(22, 124, 119, 0.64), rgba(20, 20, 20, 0.2));
}

#account-info-div-content #saveUserCfg {
    background-image: radial-gradient(rgba(30, 90, 60, 0.94), rgba(30, 90, 60, 0.64), rgba(20, 20, 20, 0.2));
}

#account-info-div-content #labels div input:hover {
    outline: none;
    cursor: default;
    user-select: none;
    color: white;
    text-shadow: 0px .1vw .5vw rgba(255, 255, 255, 0.6);
}

#account-info-div-content #accData div input {
    background: none;
    color: white;
    font-family: custom;
    font-size: 2.7vw;
    border: none;
    border-bottom: 2px solid grey;
}

#top_takbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5vh;
    background-image: linear-gradient(to left, #04030fcf, #34333fcf, #2b2b2ccf);
    border-bottom: .1vw solid #04030fca;
}

#leftNav {
    position: absolute;
    left: 0;
    top: 0;
    user-select: none;
    position: absolute;
    color: white;
    font-family: custom;
    font-size: 2.7vw;
    width: 7vw;
    height: 100%;
    background: rgba(10, 10, 10, 0.3);
    transition: .5s all;
    animation: displayNav 1s;
    z-index: 2;
}

#leftNav div {
    padding-top: 30%;
    position: relative;
    left: 25%;
    width: 50%;
    height: 9%;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: all .2s;
    user-select: none;
}

#leftNav div img {
    position: relative;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    user-select: none;
}

#leftNav div:hover {
    left: 18%;
    width: 64%;
    height: 11%;
}

#leftNav div:hover:after {
    display: inline-block;
    padding: .3vw;
    opacity: 1;
    font-size: 1.3vw;
    position: relative;
    top: -5vw;
    left: 4.5vw;
    content: attr(custom_title);
    background-image: radial-gradient(rgba(30, 50, 60, .6), rgba(10, 10, 10, .8));
    color: #fff;
    white-space: nowrap;
    z-index: 1;
    animation: fadein .5s;
    border-radius: .3vw;
}

.box-window {
    min-width: 30vw;
    min-height: 50vh;
    resize: both;
    position: absolute;
    display: block;
    left: 15vw;
    top: 8vh;
    width: 50vw;
    height: 70vh;
    background-image: linear-gradient( #57666A, #5E6263);
    overflow: hidden;
    box-shadow: 0 0 4vw rgba(34, 34, 34, .71);
    touch-action: none;
    user-select: none;
}

.box-window-top {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 3.5vh;
    background-color: #4A6E77;
    display: inline-block;
    padding: 0;
    margin: 0;
    overflow-y: visible;
}

.box-window-top-draggable {
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
    height: 100%;
    width: 92%;
    touch-action: none;
    user-select: none;
}

.box-window-top .box-window-toggle-fullScreen, .box-window-top .exit {
    float: right;
    margin-right: 1vw;
    font-size: 2.7vh;
    font-weight: 900;
    transition: .3s;
    font-weight: bold;
    color: #fff;
}

.box-window-top .box-window-toggle-fullScreen {
    margin-top: .43vh;
    font-size: 1.9vh;
}

.box-window-top h3 {
    padding: 0;
    margin: 0;
    font-family: custom;
    top: 0;
    float: left;
    margin-left: 2vw;
    font-size: 3.2vh;
    font-weight: 900;
    font-weight: bold;
    color: #f7efef;
    overflow-y: visible;
}

.box-window-top .box-window-toggle-fullScreen:hover {
    cursor: pointer;
    color: #6ca;
}

.box-window-top .exit:hover {
    cursor: pointer;
    color: #e64;
}

.box-window-content {
    position: absolute;
    top: 3.9vh;
    left: 0;
    width: 100%;
    height: calc(100% - 5vh);
    background-color: #2C2C2C;
    box-shadow: 0 0 4vw rgba(34, 34, 34, 1);
    overflow-x: hidden;
    overflow-y: scroll;
}

#music-box-window {
    min-width: 40vw;
}
#music-box-window .box-window-content {
    overflow-y: hidden;
    background-image: linear-gradient(to right, rgb(13, 93, 139), rgb(9, 46, 94))
}


#notes-box-window .box-window-content ul, #music-box-window .box-window-content ul, #weather-box-window .box-window-content ul, #games-box-window .box-window-content ul, #sysControl-box-window .box-window-content ul {
    padding: 0;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
}

#notes-box-window .box-window-content ul li, #music-box-window .box-window-content ul li, #weather-box-window .box-window-content ul li, #games-box-window .box-window-content ul li, #sysControl-box-window .box-window-content ul li {
    --c1: #49697A;
    --c2: #5D6366;
    display: block;
    padding: 0;
    margin: 0;
    position: relative;
    margin-left: 0;
    margin-bottom: .5vw;
    height: 10vh;
    width: 100%;
    background: linear-gradient(90deg, var(--c2), var(--c1) 51%, var(--c1)) var(--x, 0)/ 200%;
    box-shadow: 0 .3vw 0 0 rgba(10, 10, 10, .5);
    border-radius: .2vw;
    transition: 0.5s;
    color: white;
}

#weather-box-window .box-window-content ul li:hover, #music-box-window .box-window-content ul li:hover, #notes-box-window .box-window-content ul li:hover, #games-box-window .box-window-content ul li:hover, #sysControl-box-window .box-window-content ul li:hover {
    --x: 100%
}

#games-box-window .box-window-content ul li span, #music-box-window .box-window-content ul li span, #sysControl-box-window .box-window-content ul li span {
    font-family: custom;
    position: absolute;
    left: 10%;
    font-size: 3vw;
}

#games-box-window .box-window-content ul li:hover span,  #music-box-window .box-window-content ul li:hover span, #sysControl-box-window .box-window-content ul li:hover span {
    text-shadow: 0px .1vw .5vw rgba(255, 255, 255, 0.6);
}

#notes-box-window .box-window-content ul li:hover span, #games-box-window .box-window-content ul li:hover span, #sysControl-box-window .box-window-content ul li:hover span {
    text-shadow: 0px .1vw .5vw rgba(255, 255, 255, 0.6);
}

.box-window-top-draggable:hover, .box-window-top .box-window-top-draggable h3:hover {
    cursor: pointer;
}

input:focus {
    outline: none;
}

#calculator-box-window, #music-box-window {
    --height: 50vh;
    width: 50vw;
    height: var(--height);
    animation: 1s displayWindow;
    resize: none;
}

#calculator-box-window .box-window-content {
    background-color: rgb(88, 88, 88);
    top: 4vh;
    height: calc(100% - 5vh);
    overflow: hidden;
}

#calculator-box-window .box-window-content div {
    width: 100%;
    padding: 0;
    padding-left: 4%;
    margin: 0;
    margin-top: 2%;
    overflow: hidden;
}

#equation {
    margin-left: 1%;
    margin-top: 3%;
    background: rgba(50, 50, 50, .227);
    color: white;
    font-family: custom;
    font-weight: 600;
    font-size: 2vw;
    width: 93%;
    text-align: right;
    padding-right: .3vw;
    border-radius: .5vw;
    border: none;
    border-bottom: .2vw solid white;
    transition: all .2s;
}

.equationInput {
    background: transparent;
    color: white;
    font-family: custom;
    font-weight: 600;
    margin-left: 1%;
    width: 22%;
    font-size: 2vw;
    border-radius: .5vw;
    border: none;
    border-bottom: .2vw solid white;
    transition: all .2s;
}

.equationInput:hover, #equation:hover, #calculator-box-window input[type=submit]:hover {
    border-radius: 1vw;
}

#calculator-box-window input[type=submit] {
    margin-left: 1%;
    background: transparent;
    color: #fff;
    font-family: custom;
    font-weight: 600;
    font-size: 2vw;
    width: 93%;
    border-radius: .5vw;
    border: none;
    border-bottom: .2vw solid white;
    transition: all .2s;
}

#notes-box-window .box-window-content ul li .title {
    font-family: custom;
    position: absolute;
    left: 10%;
    top: 1vw;
    font-size: 3vw;
    color: white;
}

#notes-box-window .box-window-content ul li .date {
    font-family: custom;
    position: absolute;
    left: 60%;
    top: 1vw;
    font-size: 1vw;
    color: white;
}

#notes-box-window .box-window-content ul li .content {
    display: none;
    font-family: custom;
    position: absolute;
    top: 50%;
    top: 1vw;
    font-size: 1vw;
    color: white;
}

#notes-box-window #noteTextArea {
    position: absolute;
    top: calc(10vh + 40%);
    height: calc(100% - (12vh + 40%));
    left: 0;
    width: 100%;
    background-color: rgba(87, 87, 87, 0.7);
    overflow-x: hidden;
    overflow-y: auto;
}

#notes-box-window .box-window-content {
    position: absolute;
    top: 6vh;
    left: 0;
    width: 100%;
    height: 34%;
    background-color: rgba(51, 51, 51, 0.7);
    box-shadow: 0 0 4vw rgb(54, 54, 54);
    overflow-x: hidden;
    overflow-y: scroll;
}

#notes-box-window #noteTextArea #textarea {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(51, 51, 51, 0.7);
    color: white;
    outline: none;
    margin: 0;
    padding: 0;
    font-size: 2vw;
    font-family: custom;
    overflow: hidden;
}

#photoEditor-box-window .box-window-content {
    align-content: middle;
    margin: 0 auto;
    text-align: center;
}

#photoEditor-box-window .box-window-content #img_edit_container {
    position: relative;
    margin: 0 auto;
    top: 3vh;
    min-width: 30%;
    min-height: 10%;
    max-width: 95%;
    max-height: 70%;
    height: 10%;
    background-color: #666666;
    resize: both;
    display: block;
    overflow: hidden !important;
    color: transparent;
}

#photoEditor-box-window .box-window-content #img_edit_container #img_edit {
    bottom: 5%;
    width: 100%;
    height: 95%;
    max-height: 95%;
    overflow: hidden !important;
    color: transparent;
}

#video-box-window .box-window-content {
    overflow: hidden;
}

#games-box-window {
    --minHeight: 50vh;
    --height: 50vh;
    height: var(--height);
    animation: 1s displayWindow;
}

#maps-box-window {
    --minHeight: 50vh;
    --height: 50vh;
    height: var(--height);
    animation: 1s displayWindow;
}

#weather-box-window {
    --height: 50vh;
    --minHeight: 50vh;
    height: var(--height);
    animation: 1s displayWindow;
}

#notEnabled-box-window {
    resize: none;
    --height: 20vh;
    --minHeight: 20vh;
    height: var(--height);
    min-height: var(--minHeight);
    animation: 1s displayWindow;
}

#music-box-window {
    --minHeight: 50vh;
    --height: 50vh;
    height: var(--height);
    animation: 1s displayWindow;
}

#video-box-window {
    --minHeight: 50vh;
    --height: 50vh;
    height: var(--height);
    animation: 1s displayWindow;
}

#video-box-window video::-webkit-media-controls-fullscreen-button {
    display: none;
}

#notes-box-window {
    --minHeight: 50vh;
    --height: 65vh;
    height: var(--height);
    animation: 1s displayWindow;
}

#photoEditor-box-window {
    --minHeight: 50vh;
    --height: 50vh;
    height: var(--height);
    animation: 1s displayWindow;
}

#maps-box-window .box-window-content, #weather-box-window .box-window-content {
    top: 9vh;
    height: calc(100% - 11vh);
}

#maps-box-window .box-window-content {
    overflow: hidden;
}

#weather-box-window #locationInput, #maps-box-window #mapsLocation {
    position: absolute;
    top: 4vh;
    left: 2%;
    width: 96%;
    height: 4vh;
    font-size: 3.4vh;
    display: block;
    font-family: custom;
    color: #eee;
    border: none;
    user-select: none;
    outline: none;
    border-bottom: .3vw solid #555;
    background: transparent;
}

#weather-box-window .box-window-content ul li span {
    font-family: custom;
    position: absolute;
    top: 5%;
    left: 10%;
    font-size: 2vw;
    color: white;
}

#weather-box-window .box-window-content table {
    margin: 0;
    top: 3vh;
    position: relative;
    left: 0%;
    border: none;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    font-family: custom;
    font-weight: 400;
    color: white;
}

#weather-box-window .box-window-content table thead th {
    background: rgb(49, 49, 49);
    color: white;
    font-weight: 550;
}

#weather-box-window .box-window-content table tr {
    border-bottom: 1px solid #ddd;
    padding: 0.35em;
    height: 5vh;
}

#weather-box-window .box-window-content table th, table td {
    padding: 0.625em;
    text-align: center;
}

#weather-box-window .box-window-content table tbody *, #weather-box-window .box-window-content table tbody * * {
    background: rgba(68, 68, 68, 0.7);
    transition: .2s all;
}

#weather-box-window .box-window-content table tbody tr:hover td {
    letter-spacing: 0.1em;
    background-color: #595a5f;
}

#weather-box-window .box-window-content table th {
    font-size: 0.85em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

#weather-box-window .box-window-content canvas {
    position: relative;
    top: 4vh;
    height: 20vh;
    width: 80%
}

#weather-box-window .box-window-content #todayWeather {
    margin-top: 2vh;
}

#weather-box-window .box-window-content #todayWeather span {
    position: relative;
    float: left;
    left: 0;
    width: 46%;
    margin-left: 3%;
    color: white;
    font-size: 3vh;
    font-weight: 550;
    font-family: custom;
}

#weather-box-window .box-window-content #todayWeather span p {
    display: inline;
    font-size: 90%;
    color: rgb(196, 166, 110);
    font-weight: 650;
}

#notes-box-window #noteControls {
    position: absolute;
    top: calc(10vh + 32%);
    height: 6%;
    left: 5%;
    width: 90%;
    overflow: visible;
}

#notes-box-window #noteControls div {
    margin-left: 4%;
    width: 7%;
    height: 100%;
    float: left;
    overflow: visible;
}

#notes-box-window #noteControls #newFileButton {
    margin-left: 30%;
}

#notes-box-window #noteControls div img {
    position: absolute;
    top: 10%;
    width: 7%;
    height: 80%;
    overflow: visible;
}

#notes-box-window #noteControls div img:hover {
    top: 8%;
    width: 7.2%;
    height: 85%;
    cursor: pointer;
}

#notes-box-window #noteControls .hasTollTip:hover::after {
    position: relative;
    margin-left: 1vw;
    margin-top: 4vh;
    display: inline-block;
    padding: .3vw;
    opacity: 1;
    font-size: 1.3vw;
    content: attr(custom_title);
    background-image: radial-gradient(rgba(30, 50, 60, .9), rgb(10, 10, 10));
    color: #fff;
    white-space: nowrap;
    z-index: 10;
    animation: fadein .5s;
    border-radius: .3vw;
}

#notes-box-window #noteControls #newFileInput {
    background: transparent;
    border: none;
    height: 90%;
    width: 500%;
    border-bottom: .2vw solid #ccc;
    color: #ccc;
    font-family: custom;
    font-size: 150%;
    overflow: visible;
    float: left;
}

#notes-box-window #noteControls #notes_error span {
    position: absolute;
    background: transparent;
    top: 5%;
    right: 5%;
    border: none;
    white-space: nowrap;
    color: #ccc;
    font-family: custom;
    font-size: 130%;
    overflow: visible;
    color: rgb(221, 48, 5);
}

#mainDiv #gameWindow {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: none;
    background: #555;
    display: none;
}

/* <file input type css fix> */

.fileUpload {
    position: relative;
    overflow: hidden;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.btn--browse, .btn--save {
    border: none;
    float: left;
    background-color: rgb(46, 46, 46);
    color: #aaa;
    height: 2vh;
    width: 10%;
    margin-right: .4vw;
    text-align: center;
    font-family: custom;
    font-weight: 500;
    font-size: 105%;
}

.btn--browse:hover, .btn--save:hover {
    background-color: rgb(67, 72, 83);
    cursor: pointer;
}

.btn--save {
    position: relative;
    top: 0;
    float: left;
}

.f-input {
    display: none;
}

/* <//////file input type css fix >*/