doctype html
head
  meta(charset='UTF-8')
  title Login
  script(src='../scripts/loginScript.js')
  link(rel='stylesheet' type='text/css' href='../css/formStyle.css')
#topDiv
  span#drag
    h1 eXo
  button#minimize
  button#exit
.formBody
  input#usernameId(maxlength="20" type='text' placeholder='Username')
  input#passwordId(maxlength="20" type='password' placeholder='Password')
  input#loginButton(type='button' value='Sign in')
  input#noAcc(type='button' value='Sing up')