doctype html
head
  link(rel='stylesheet' type='text/css' href='../css/formStyle.css')
  meta(charset='UTF-8')
  title Register
  script(src='../scripts/reqScript.js')
#topDiv
  span#drag
    h1 eXo
  button#minimize
  button#exit
.formBody
  input#usernameId(type='text' placeholder='Username')
  input#passwordId(type='password' placeholder='Password')
  input#reEnterPasw(type='password' placeholder='Re-enter password')
  input#registerButton(type='button' value='Register')
