<div id="account-info-div-content" style="display: none;">
    <div id="labels">
        <div>Username:</div><br>
        <div>Member since:</div><br>
        <div>Last seen:</div><br>
        <div>Account age:</div><br>
        <div><input id="saveUserCfg" type="button" value="Save cfg"></div>
    </div>
    <div id="accData">
        <div><input id="username" type=text value=""></div><br>
        <div><span id="member_since"></span></div><br>
        <div><span id="last_seen"></span></div><br>
        <div><span id="age"></span></div>
    </div>
    <form id="ui_icons_set">
    </form>
    <input id="toggleAccCfg" type="button" value="toggle all" />
    <script>
        $(document).ready(() => {
            let userData = null;
            $('#ui_icons_set').html("");
            resetValues();
            function retriveUserPromise() {
                //console.log("getting data");
                userData = getUser();
                setTimeout(() => {
                    if (!userData)
                        retriveUserPromise();
                    else {
                        //console.log(JSON.parse(userData.settings));
                        //console.log(JSON.parse(userData.settings));
                        let date_created = format_date(userData.date_c)
                        $("#username").val(String(userData.name));
                        $("#member_since").text(date_created);
                        $("#last_seen").text(format_date(userData.date_l));
                        $("#age").text(
                            `${Math.floor(Math.abs(moment.duration(moment(new Date()).diff(date_created)).asDays()))} days`
                        );
                        JSON.parse(userData.settings).navigationMenu.forEach(row => $('#ui_icons_set').append(`
                            <input 
                                class="ui_filter_checboxes"
                                type="checkbox"
                                name="${row.name}"
                                ${row.enabled ? "checked" : null}
                            >${row.name}<br>
                        `));

                        setTimeout(() => $('#account-info-div-content').fadeIn(100), 10);
                    }
                }, 300);
            } (retriveUserPromise)();

            const updateUser = key => {
                if ($("#username").val() != userData.name && $("#username").val().length > 4) {
                    userData.name = $("#username").val();
                }
                if (key < 1) {
                    if(setUserConfiguration(userData, null)) {
                        $("#username").css({ background: "transparent" });
                        null;
                    } 
                    return;
                } 
                let finalSqlArray = [];
                $('#ui_icons_set input[type=checkbox]').each(function () {
                    finalSqlArray.push({
                        name: $(this).attr('name'),
                        enabled: $(this).is(":checked") ? true : false
                    });
                });
                setUserConfiguration(userData, { navigationMenu: finalSqlArray });
            }

            const format_date = _date_ => new Date(_date_).toLocaleDateString("en-US");

            $('#username').on('input', () =>
                $("#username").val() != userData.name ?
                    $("#username").css({ background: "linear-gradient(to bottom, rgba(0,0,0,0), rgba(200,0,0, 0.4))" }) :
                    $("#username").css({ background: "transparent" })
            );

            $('#toggleAccCfg').mousedown(() => {
                let toggleValue = !$('#ui_icons_set input[type=checkbox]')
                    .first()
                    .is(":checked");
                $('#ui_icons_set input[type=checkbox]').each(function() {
                    $(this).prop('checked',toggleValue);
                });
            });

            $('#username').keypress(event => event.keyCode == 13 ? updateUser(0) : null);
            $('input#saveUserCfg').click(() => updateUser(1));
        });
    </script>
</div>