<div id="account-info-div-content" style="display: none;">
    <div id="labels">
        <div>Username:</div><br>
        <div>Member since:</div><br>
        <div>Last seen:</div><br>
        <div>Account age:</div><br>
    </div>
    <div id="accData">
        <div><input id="username" type=text value=""></div><br>
        <div><span id="member_since"></span></div><br>
        <div><span id="last_seen"></span></div><br>
        <div><span id="age"></span></div>
    </div>
    <form id="ui_icons_set">
    </form>
    <div class="acc_bottom">
        <div class="picker" acp-color="#EFE9E7" acp-show-hex="no" acp-show-hsl="no" acp-show-rgb="no"></div>
        <input id="toggleAccCfg" class="accountControlButtons" type="button" value="toggle all" />
        <input id="saveUserCfg" class="accountControlButtons" type="button" value="Save cfg">
    </div>
    <script src="../scripts/accScripts.js"></script>
</div>