<div id="brightness-box-window" class="box-window">
    <div class="box-window-top">
        <div class="box-window-top-draggable">
            <h3>eXo-brightness</h3>
        </div>
        <span class="box-window-top-fullScreen">
        </span>
        <span class="exit">&times;</span>
    </div>
    <div class="box-window-content">
        <label for="scale">Brightness scale</label>
        <input 
            type="range" 
            id="rangeScale"  
            min="0.1" 
            max="1" 
            value="0.7" 
            step="0.01"
        />
    </div>
</div>
<script>
    $(document).ready( event => {

        if(typeof brightnessHistory === 'undefined'){
            window.brightnessHistory = true;
            $("#rangeScale").change( change => {

                console.log(`${$("#rangeScale").val()}`);

                const brightness = require('brightness');

                brightness.set(Number($("#rangeScale").val())).then(() => {
                    console.log(`Brightness changed to ${$("#rangeScale").val() * 100}%`);
                });
            });

        }
    });
    // FILE NOT IN USE!!!!!!!!
</script>