#games-box-window.box-window
  .box-window-top
    .box-window-top-draggable(drag='1')
      h3(drag='1') eXo-games
    span.exit ×
    span.box-window-toggle-fullScreen ▢
  .box-window-content
    ul#gameList
      li
        span game
  script.
    $(document).ready(() => {

        function loadGames() {
            //
        } (loadGames)();

        $('#gameList li').mousedown(() => {
            $('#mainDiv').children().hide();
            $('#gameWindow').fadeIn(300);
            $('#platformDiv #content').children().remove();

            var canvasSizing = document.getElementById("gameCanvas");
            canvasSizing.width = $("#mainDiv").width();
            canvasSizing.height = $("#mainDiv").height();


            crossGame(document.getElementById("gameCanvas"));
        });
    });