<div id="music-box-window" class="box-window">
    <div class="box-window-top">
        <div drag="1" class="box-window-top-draggable">
            <h3 drag="1">eXo-music</h3>
        </div>
        <span class="exit">&times;</span>
        <span class="box-window-toggle-fullScreen">&#9634;</span>
    </div>
    <div class="box-window-content">
        <ul>
            <li>
                <span>music</span>
            </li>
            <li>
                <span>music</span>
            </li>
        </ul>
    </div>
</div>