<div id="notes-box-window" class="box-window">
    <div class="box-window-top">
        <div class="box-window-top-draggable">
            <h3>eXo-notes</h3>
        </div>
        <span class="exit">&times;</span>
    </div>
    <div class="box-window-content">
        <ul id="notesList">
        </ul>
    </div>
    <div id="noteControls">
        <div class="hasTollTip" id="deleteFileControl" custom_title="Delete file">
            <img src="../util/icons/notes/delete.ico" alt="/" />
        </div>
        <div class="hasTollTip" id="saveFileControl" custom_title="Save content">
            <img src="../util/icons/notes/save.png" alt="/" />
        </div>
        <div class="hasTollTip" id="newFileControl" custom_title="Create file">
            <img src="../util/icons/notes/new.png" alt="/" />
        </div>
        <div>
            <input type="text" value="" placeholder="new file" id="newFileName" />
        </div>
        <div id="notes_error">
            <span></span>
        </div>
        <br style="clear:both;">
    </div>
    <div id="noteTextArea">
        <textarea id="textarea">
        </textarea>
    </div>
    <script>
        $(document).ready(() => {
            !fs.existsSync('./notes') ? fs.mkdirSync('./notes') : null;
            let curr_fileName = null;
            function refresh() {
                $("#notesList").html("");
                let files = fs.readdirSync('./notes');
                for (let i = 0; i < files.length; i++) {
                    if (path.extname(files[i]) === ".txt") {
                        let text = fs.readFileSync(`./notes/${files[i]}`, 'utf8');
                        let index = text.indexOf('\n');
                        $("#notesList").append(`
                            <li id="${i}note">
                                <span class="title">${files[i].substring(0, files[i].length - 4)}</span>
                                <span class="date">${text.substr(0, index)}</span>
                                <div class="content">${text.substr(index + 1, text.length - index - 1)}</div>
                            </li>
                        `);
                    }
                }
                $('#notesList li .title').css({ color: 'white' });
                $('#textarea').val("");
                $("#notes_error span").text("");
                curr_fileName = null;
                return files;
            } (refresh)(); // initial call

            const generateNewFile = () => {
                let fileName = $("#newFileName").val();
                if (fs.existsSync(`./notes/${fileName}.txt`)) {
                    $("#notes_error span").text('File already exsists!');
                    return;
                } else if (!fileName.length) {
                    $("#notes_error span").text('Insert file name!');
                    return;
                }
                let previousFiles = refresh();
                fs.writeFile(
                    `./notes/${fileName}.txt`,
                    `${moment().format('L')}\n`, err => err ? console.log(err) : null
                );
                $("#notesList").append(`
                    <li id="${previousFiles.length}note">
                        <span class="title">${fileName}</span>
                        <span class="date">${moment().format('L')}</span>
                        <div class="content">${""}</div>
                    </li>
                `);
                $("#textarea").val("");
            };

            $(document).on('click', "#notesList li", event => {
                curr_fileName = event.currentTarget.id;
                $('#notesList li .title').css({ color: 'white' });
                $(`#textarea`).val($(`#${curr_fileName} .content`).html());
                $(`#${curr_fileName} .title`).css({ color: 'rgb(199, 64, 40)' });
            });
            $(document).on('keypress', "#newFileName", event =>
                event.keyCode == 13 ?
                    generateNewFile() :
                    null
            );

            function saveFile() {
                let path = $(`#${curr_fileName} .title`).text();
                if (!curr_fileName) {
                    $("#notes_error span").text('No file active!');
                    return;
                } else if (!fs.existsSync(`./notes/${path}.txt`)) {
                    $("#notes_error span").text('Unknown error!');
                    return;
                }
                fs.writeFileSync(
                    `./notes/${path}.txt`,
                    `${moment().format('L')}\n${$(`#textarea`).val()}`,
                    'utf-8'
                );
                refresh();
                $("#textarea").val("");
                $("#newFileName").val("");
                $("#textarea").css({ color: 'white' });
                $("#notes_error span").text("");
            }

            let keys = {
                "13_": { pressed: false, name: "enter" },
                "17_": { pressed: false, name: "ctrl" },
            };


            $(document).on('mousedown', '#deleteFileControl', () => {
                let path = $(`#${curr_fileName} .title`).text();
                if (!curr_fileName) {
                    $("#notes_error span").text('No file active!');
                    return;
                } else if (!fs.existsSync(`./notes/${path}.txt`)) {
                    $("#notes_error span").text('Unknown error!');
                    return;
                }
                fs.unlinkSync(`./notes/${path}.txt`);
                refresh();
            });

            $(document).on('mousedown', '#saveFileControl', saveFile);
            $(document).on('mousedown', '#newFileControl', generateNewFile);
            $(document).on('input', '#textarea', () => $("#textarea").css({ color: '#ff471a' }));
            $(document).on('input', '#newFileName', () => $("#notes_error span").text(""));

            $("#textarea").keydown(e => {
                if (e.which == 13 || e.which == 17) {
                    keys[`${e.which}_`].pressed = true;
                    if (!keys['13_'].pressed || !keys['17_'].pressed) return;
                    saveFile();
                }
            });
            $("#textarea").keyup(e => {
                (e.which == 13 || e.which == 17) ?
                    keys[`${e.which}_`].pressed = false :
                    null
            });
        });
    </script>
</div>