<div id="photoEditor-box-window" class="box-window">
    <div class="box-window-top">
        <div class="box-window-top-draggable">
            <h3>eXo-photoEdtior</h3>
        </div>
        <span class="exit">&times;</span>
        <span class="box-window-toggle-fullScreen">&#9634;</span>
    </div>
    <div class="box-window-content">
        <div>
            <input id="uploadFile" class="f-input" accept="image/*" />
            <div class="fileUpload btn btn--browse">
                <span>File</span>
                <input id="uploadBtn" type="file" class="upload" accept="image/*" />
            </div>
        </div>
        <div id="img_edit_container">
            <img id="img_edit" height="95%" alt="/" />
        </div>
        <div id="image_options">
            <span>Adjustments</span>
            <span>Effects</span>
            <span>Overlay</span>
        </div>
    </div>
    <script>
        $(document).ready(event => {
            $("input[type=file]#uploadBtn").change(img => {
                document.getElementById("uploadFile").value = img.target.value.replace("C:\\fakepath\\", "");
                $('#img_edit').attr({
                    src: URL.createObjectURL(img.target.files[0])
                })
                $('#img_edit_container').animate({ height: '95%' }, 500);
                $('#img_edit').css({
                    filter: "sepia(100%)"
                });
            });
        });
    </script>
</div>