<div id="photoEditor-box-window" class="box-window">
    <div class="box-window-top">
        <div class="box-window-top-draggable">
            <h3>eXo-photoEdtior</h3>
        </div>
        <span class="exit">&times;</span>
        <span class="box-window-toggle-fullScreen">&#9634;</span>
    </div>
    <div class="box-window-content">
        <!--<div class="spinner"></div>-->
        <div>
            <div id="image-preview">
                <label for="image-upload" id="image-label">Choose File</label>
                <input type="file" name="image" id="image-upload" />
            </div>
        </div>
        <img id="img_edit" style="display: none;" src="" alt="/" />
    </div>
    <script>
        $(document).ready(event => {
            $('input[type=file]').change(function (event) {
                $('#img_edit').attr({
                    src: URL.createObjectURL(event.target.files[0])
                }).fadeIn(100);
            });
        });
    </script>
</div>