<div id="photoEditor-box-window" class="box-window">
    <div class="box-window-top">
        <div class="box-window-top-draggable">
            <h3>eXo-photoEdtior</h3>
        </div>
        <span class="exit">&times;</span>
        <span class="box-window-toggle-fullScreen">&#9634;</span>
    </div>
    <div class="box-window-content">
        <div>
            <input id="uploadImg" class="f-input" accept="image/*" />
            <div class="fileUpload btn btn--browse">
                <span>File</span>
                <input id="uploadBtnImg" type="file" class="upload" accept="image/*" />
            </div>
            <button id="saveImage" class="btn--save">Save</button>
        </div>
        <br style="clear:both">
        <div style="opacity: 0" id="img_edit_container">
            <img id="img_edit" src="" h eight="95%" alt="/" />
        </div>
        <div style="opacity: 0" id="image_options">
            <span>Adjustments</span>
            <span>Effects</span>
            <span>Overlay</span>
        </div>
    </div>
    <script>
        $(document).ready(() => {
            $("input[type=file]#uploadBtnImg").change(img => {
                document.getElementById("uploadImg").value = img.target.value.replace("C:\\fakepath\\", "");
                $('#img_edit').attr({
                    src: URL.createObjectURL(img.target.files[0])
                });
                $('#img_edit_container').animate({ opacity: '1', height: '95%' }, 500);
                $('#img_edit').css({
                    filter: "sepia(100%)"
                });
            });
            $('#saveImage').mousedown(() => {
                if(!document.getElementById('img_edit').css('opacity') != '1') return;
                htmlToImage.toJpeg(
                    document.getElementById('img_edit'),
                    { quality: 0.99 }
                ).then(img => {
                    var link = document.createElement('a');
                    link.download = 'exo-edited.jpeg';
                    link.href = img;
                    link.click();
                });
            });
        });
    </script>
</div>