<div id="systemControl-box-window" class="box-window">
    <div class="box-window-top">
        <div class="box-window-top-draggable">
            <h3>eXo-systemControl</h3>
        </div>
        <span class="exit">&times;</span>
    </div>
    <div class="box-window-content">
        <ul id="systemCommands">
            <li id="system_shutdown">
                <span>shutdown</span>
            </li>
            <li id="system_restart">
                <span>restart</span>
            </li>
            <li id="system_sleep">
                <span>sleep</span>
            </li>
            <li id="system_logOut">
                <span>logOut</span>
            </li>
        </ul>
        <div id="msgWindowPWS" style="display: none">
        </div>
    </div>
    <script>
        $(document).ready(() => {

            let currentCommandIndex = null;

            const powerShellCommands = [
                { code: 'shutdown /s /t 10', warning_msg: 'Are you sure you want to turn off your pc?' },
                { code: 'Restart-Computer', warning_msg: 'Are you sure you want to restart your pc?' },
                { code: 'ExitWindowsEx(EWX_LOGOFF, 0);', warning_msg: 'Are you sure you want your pc in sleep mode?' },
                { code: 'ExitWindows(0, 0);', warning_msg: 'Are you sure you want to log out of your pc?' }
            ];

            const finalExcecute = () => {
                if (!currentCommandIndex) return;
                const ps = new Shell({
                    executionPolicy: 'Bypass',
                    noProfile: true
                });

                ps.addCommand(String(powerShellCommands[currentCommandIndex].code));
                ps.invoke().then(() => {
                    console.log("success");
                }).catch(err => {
                    currentCommandIndex = null;
                    $("#msgWindowPWS").hide().fadeIn(200);
                    $("#systemCommands").hide();
                    $("#msgWindowPWS").html(`
                        <h3>${"ERROR OCCURED! Going back!"}</h3>
                    `);

                    setTimeout(() => {
                        $("#msgWindowPWS").hide();
                        setTimeout(() => {
                            $("#systemCommands").fadeIn(100);   
                        }, 500);
                    }, 1000);

                });
            }

            const initialTerminalCall = index => {
                currentCommandIndex = index;
                $("#systemCommands").hide();
                $("#msgWindowPWS").html(`
                    <h3>${powerShellCommands[index].warning_msg}</h3>
                    <input type="button" id="yes_powershell" value="YES" />
                    <input type="button" id="no_powershell" value="CANCEL" />
                `);
                $("#msgWindowPWS").fadeIn(200);
            }
            $(document).on('mousedown', '#yes_powershell', () => finalExcecute());
            $(document).on('mousedown', '#no_powershell', () => {
                currentCommandIndex = null;
                $("#msgWindowPWS").hide();
                $("#systemCommands").fadeIn(200);
                $("#msgWindowPWS").html("");
            });


            $(document).on('mousedown', '#system_shutdown', () => initialTerminalCall(0));
            $(document).on('mousedown', '#system_restart', () => initialTerminalCall(1));
            $(document).on('mousedown', '#system_sleep', () => initialTerminalCall(2));
            $(document).on('mousedown', '#system_logOut', () => initialTerminalCall(3));
        });
    </script>
</div>