<div id="systemControl-box-window" class="box-window">
    <div class="box-window-top">
        <div class="box-window-top-draggable">
            <h3>eXo-systemControl</h3>
        </div>
        <span class="exit">&times;</span>
    </div>
    <div class="box-window-content">
        <ul>
            <li id="system_shutdown">
                <span>shutdown</span>
            </li>
            <li id="system_restart">
                <span>restart</span>
            </li>
            <li id="system_sleep">
                <span>sleep</span>
            </li>
            <li id="system_logOut">
                <span>logOut</span>
            </li>
        </ul>
    </div>
    <script>
        $(document).ready(() => {

        });
    </script>
</div>