#video-box-window.box-window
  .box-window-top
    .box-window-top-draggable(drag='1')
      h3(drag='1') eXo-video
    span.exit ×
    span.box-window-toggle-fullScreen ▢
  .box-window-content
    input#uploadFile.f-input(accept='video/*')
    #video_fileSelector.fileUpload.btn.btn--browse
      span File
      input#uploadBtn.upload(type='file', accept='video/*')
    video#video_source(width='100%', height='100%', controls='')
      source(src='', type='video/mp4')
  script.
    $(document).ready(() => {
        let fileSelected = false;
        $('#video-box-window .box-window-content').mouseenter(() => {
            if (!fileSelected) return;
            $('#video_fileSelector').delay(50).fadeIn(300);
        });
        $('#video-box-window .box-window-content').mouseleave(() => {
            if (!fileSelected) return;
            $('#video_fileSelector').delay(100).fadeOut(300)
        });
        $("input[type=file]#uploadBtn").change(video => {
            try {
                $('#video_source').html(` 
                    <source  src="${String(video.target.files[0].path)}" type="video/mp4"> 
                `);
            } catch (err) { /* ignore */ } finally {
                $('#video_fileSelector').hide();
                fileSelected = true;
            }

        });
    });