<div id="weather-box-window" class="box-window">
    <div class="box-window-top">
        <div class="box-window-top-draggable">
            <h3>eXo-weather</h3>
        </div>
        <span class="exit">&times;</span>
    </div>
    <div>
        <input id="locationInput" type="text" placeholder="enter location" value="" />
    </div>
    <div class="box-window-content">
        <ul id="locationList">
        </ul>
        <div id="actualLocationData">
        </div>
    </div>
    <script>
        $(document).ready(() => {
            const getWeatherData = location => {
                try {
                    $("#locationList").html("");
                    weather.find({ search: String(location), degreeType: 'C' }, (err, result) => {
                        err ? console.log(err) : null;
                        console.log(result);

                        if (result.length)

                            for (let i = 0; i < result.length; i++) {
                                $("#locationList").append(`
                                    <li>
                                        <span class="locSpan" id="${i}place">
                                            ${result[i].location.name}
                                        </span>
                                    </li>
                                `);

                                $("#actualLocationData").append(`
                                    <div id="${i}locDiv">   
                                            <div>Temp: ${result[i].current.temperature}°C</div>
                                            <div>Weather: ${result[i].current.skytext}</div>
                                            <div>Wind speed: ${result[i].current.windspeed}</div>
                                            <label for="${i}forecast">Forecast</label>
                                            <div id="${i}forecast"></div>                
                                    </div>
                                `);


                                result[i].forecast.forEach(day => $(`#${i}forecast`).append(`
                                    <div>Date: ${day.date}<div><br>
                                    <div>Lowest temp: ${day.low}<div><br>
                                    <div>Highest temp: ${day.high}<div><br> 
                                    <div>Weather: ${day.skytextday}<div><br>
                                `));

                            }

                        else
                            console.log("no loactions found");
                    });
                } catch (err) {
                    ipcRenderer.send('request-failed-to-generate-action');
                }
            }

            $(document).on('click', ".locSpan", event => {
                try{
                    //console.log("click");
                    console.log($(`#${event.currentTarget.id[0]}locDiv`));
                    $(`#actualLocationData`).show();
                    $("#locationList").html("");
                } catch (err) { console.log(err)/* ignore */}
            });
            $(document).on('keypress', "#locationInput", event => 
                event.keyCode == 13 ? 
                    getWeatherData($("#locationInput").val()) :
                    null
            );
        });
    </script>
</div>