<div id="games-box-window" class="box-window">
    <div class="box-window-top">
        <div class="box-window-top-draggable">
            <h3>eXo-games</h3>
        </div>
        <span class="exit">&times;</span>
        <span class="box-window-toggle-fullScreen">&#9634;</span>
    </div>
    <div class="box-window-content">
        <ul id="gameList">
            <li>
                <span>game</span>
            </li>
        </ul>
    </div>
    <script>
        $(document).ready(() => {
            const { canvasLoader } = require('../gameFiles/canvasLoading');

            function loadGames(){
                //
            } (loadGames)();

            $('#gameList li').mousedown(() => {
                $('#mainDiv').children().hide();
                $('#gameWindow').fadeIn(300);
                $('#platformDiv #content').children().remove();

                var canvasSizing = document.getElementById("gameCanvas");
                canvasSizing.width  = $("#mainDiv").width();
                canvasSizing.height = $("#mainDiv").height(); 
                canvasSizing.style.width  = `${canvasSizing.width*1.3}px`;
                canvasSizing.style.height = `${canvasSizing.height*1.3}px`;

                var loadingWin = new canvasLoader(document.getElementById("gameCanvas"));
                
                loadingWin.init();
            });
        });
    </script>
</div>